package templates

import (
)

templ head(){
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/jailbreak.css" />
}

templ WelcomePage(){
    <html>
        <head>
            @head()
        </head>
        <body class="bg-dark text-secondary">
            <div class="container px-4 my-5">
                <div class="row align-items-center text-center g-lg-5 py-5">
                    <h1 class="fw-bold text-white">JAILBREAK</h1>
                    <div id="page-content"> 
                        <!-- all content goes here -->
                        <div class="col-sm-6 col-md-6 mx-auto">
                            <form action="/"  method="post" class="p-4 p-md-5" >
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="room_code" placeholder="Room Code"/>
                                    <label for="floatingInput">Room Code</label>
                                </div>
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Join</button>
                            </form>
                        </div>
                        <div class="col-sm-6 col-md-6 mx-auto text-center text-lg-start">
                            <button hx-get="/host/lobby"
                                hx-trigger="click"
                                hx-target="#page-content"
                                hx-swap="innerHTML" 
                                hx-push-url="/host/lobby"
                                class="w-100 btn btn-lg btn-Secondary">Create</button>
                            <div class="text-center">(Project this to a shared screen)</div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
}



templ FourOFour(msg string){
    <div>{msg}</div>
}
